<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syncshopper.mapper.UserPreferenceMapper">

    <insert id="insertUserPreference" useGeneratedKeys="true" keyProperty="preferenceId" parameterType="com.syncshopper.domain.user.UserPreference">
        INSERT INTO user_preferences (
            user_id,
            category1_name,
            category2_name,
            brand,
            created_at
        ) VALUES (
            #{userId},
            #{category1Name},
            #{category2Name},
            #{brand},
            NOW()
        )
    </insert>

</mapper>
